# Deny access to .env and .htaccess files
<FilesMatch "^(\.env|\.htaccess)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Rewrite rules for Angular app
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Serve index.html for requests to non-existent files or directories test6
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.html [L]


</IfModule>


